body {
	background: url("../images/BigBangTheory.png");
	background-repeat: repeat;
}

* {
	box-sizing: border-box;
}

.jumbotron {
	background: url("../images/cast.jpg");
	background-repeat: repeat;
}

.container {
	text-align: center;
	color: white;
}

button {
	padding-right: 5px;
	margin-right: 5px;
	background: black;
}

#topic-input {
	padding: 5px;
	margin-bottom: 5px;
}

#add-topic {
	padding-top: 5px;
	margin: auto;
	background: black;
}

#gifs-view {
	padding-bottom: 15px;
	margin-bottom: 15px;
	display: inline-grid;

}

